body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 63, 63);
    margin: 0;
    padding: 0;
}
.flexible-container {
    display: flex;
}
.span-orange-color {
    color: orange;
}
.link-button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 3% 6%;
    background-image: linear-gradient(red, orange);
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    color: black;
    font-size: 2rem;
}
p {
    font-size: 1.3rem;
}
#limited-width {
    width: 70%;
    line-height: 1.6;
    margin-bottom: 10%;
}
.for-two-portion-width {
    width: 50%;
}
.for-three-portion-width {
    width: 27%;
    margin: 0 auto;
}

/*food homepage section*/
#food-homepage {
    padding-top: 10%;
    padding-left: 10%;
}
#food-homepage-first-item {
    padding-top: 5%;
}
#food-homepage-second-item {
    padding-left: 5%;
}
/*food homepage section*/

/*food aboutme section*/
#food-aboutme {
    margin-top: 10%;
    padding: 3% 0% 0% 10%;
    background-image: url(images/shapes/7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#food-aboutme-first-item {
    padding-left: 7%;
}
#food-aboutme-second-item {
    padding-left: 5%;
}
/*food aboutme section*/

/*food myrecipe section*/
.text-formating-for-food-myrecipe {
    text-align: center;
}
.limited-width-for-carditem-paragraph {
    line-height: 1.7;
}
#limited-width-for-food-myrecipe-paragraph{
    margin: 0 22% 5%;
    line-height: 1.5;
}
#food-myrecipe {
    margin-top: 10%;
    padding: 0 7%;
}
.carditem {
    border-radius: 30px;
    box-shadow: 5px 5px 20px gray;
    padding: 20px;
}
/*food myrecipe section*/

/*food followers section*/
.text-formating-for-food-followers {
    text-align: center;
    color: black;
}
#food-followers {
    margin: 10% 8.5% 0%;
    padding: 2% 0;
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
}
/*food followers section*/

/*food footer section*/
#food-footer {
    margin-top: 10%;
    padding: 2% 0;
    background-color: rgba(0, 0, 8, 0.952);
}
.text-formating-for-footers {
    text-align: center;
    line-height: 1.6;
}
footer p {
    color: white;
}
/*food footer section*/
