body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 63, 63);
    margin: 0;
    padding: 0;
}
.flexible-container {
    display: flex;
}
.span-orange-color {
    color: orange;
}
.link-button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 3% 6%;
    background-image: linear-gradient(orange, red);
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    color: black;
    font-size: 2rem;
}
p {
    font-size: 1.3rem;
}
.limited-width {
    width: 70%;
    line-height: 1.6;
    margin-bottom: 10%;
}

/*for food homepage and about me page width*/
.two-portion-width-for-food-homepage-and-Aboutme {
    width: 50%;
}
/*for food homepage and about me*/

/*for my recipe and followers page width*/
.for-three-portion-width {
    width: 27%;
    margin: 0 auto;
}
/*for my recipe and followers page width*/

/*for todays special page width*/
.for-four-portion-width {
    width: 20%;
    margin: 0 auto;
}
/*for todays special page width*/

/*for review page width*/
.two-portion-width-for-food-review {
    width: 45%;
    margin: 0 auto;
}
/*for review page width*/

/*food myrecipe and todays-special section*/
.carditem {
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(189, 182, 182);
    padding: 20px;
}
.limited-width-for-carditem-paragraph {
    line-height: 1.7;
}
/*food myrecipe and todays-special section*/

/*food header section*/
#food-header {
    padding: 5px 0px 5px 50px;
    background-color: rgba(0, 0, 8, 0.952);
    border-bottom: 7px solid;
    border-image: linear-gradient(red, salmon);
    border-image-slice: 5;
}
header h4 {
    font-size: 2rem;
    color: white;
}
header a {
    text-decoration: none;
    color: white;
}
/*food header section*/

/*food homepage section*/
#food-homepage {
    padding-top: 10px;
    padding-left: 10%;
}
#food-homepage-first-item {
    /* padding-top: 5%; */
}
#food-homepage-second-item {
    padding-left: 5%;
}
/*food homepage section*/

/*food aboutme section*/
#food-aboutme {
    margin-top: 10%;
    padding: 3% 0% 0% 10%;
    background-image: url(images/shapes/7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#food-aboutme-first-item {
    padding-left: 7%;
}
#food-aboutme-second-item {
    padding-left: 5%;
}
/*food aboutme section*/

/*food myrecipe section*/
.text-formating-for-food-myrecipe {
    text-align: center;
}
#limited-width-for-food-myrecipe-paragraph{
    margin: 0 22% 5%;
    line-height: 1.5;
}
#food-myrecipe {
    margin-top: 10%;
    padding: 0 7%;
}
/*food myrecipe section*/

/*food todays special*/
.text-formating-for-food-todays-special {
    text-align: center;
}
#limited-width-for-food-todays-special-paragraph{
    margin: 0 22% 5%;
    line-height: 1.5;
}
#food-todays-special {
    margin-top: 10%;
    padding: 0 7%;
}
/*food todays special*/

/*food review section*/
#food-reviews {
    margin: 10% 8.5% 0%;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: 100% 100%;
    padding: 4% 5%;
    box-shadow: 0px 0px 20px rgb(189, 182, 182);
    border-radius: 20px;
}
#form {
    padding-top: 7%;
    padding-left: 10%;
}
#name{
    width: 70%;
    padding: 4% 6%;
    margin: 10px 0;
    display: inline-block;
    border: 3px solid red;
    border-radius: 50px;
    outline: none;
}
#email{
    width: 70%;
    padding: 4% 6%;
    margin: 10px 0;
    display: inline-block;
    border: 3px solid red;
    border-radius: 50px;
    outline: none;
}
#taste{
    width: 70%;
    padding: 4% 6%;
    margin: 10px 0px 50px 0px;
    display: inline-block;
    border: 3px solid red;
    border-radius: 50px;
    outline: none;
}
.text-color-in-form {
    color: black;
    font-weight: 500;
}
small {
    font-size: 14px;
}
::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.link-button-for-form {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 3% 6%;
    background-image: linear-gradient(red, salmon);
}
/*food review section*/

/*food followers section*/
.text-formating-for-food-followers {
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
}
#food-followers {
    margin: 10% 8.5% 0%;
    padding: 4% 0;
    box-shadow: 0px 0px 20px rgb(189, 182, 182);
    border-radius: 20px;
}
/*food followers section*/

/*food footer section*/
#food-footer {
    margin-top: 10%;
    padding: 5px 0 5px;
    background-color: rgba(0, 0, 8, 0.952);
    border-top: 7px solid;
    border-image: linear-gradient(red, salmon);
    border-image-slice: 5;
}
.text-formating-for-footers {
    text-align: center;
    line-height: 1.6;
}
footer p {
    color: white;
}
ul {
    padding: 0;
    width: 100%;
    margin: 7% auto 2%;
    list-style-type: none;
    text-align: center;
}
ul li {
    margin: 0 2%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}
ul a {
    color: white;
    text-decoration: none;
}
/*food footer section*/